@use "./colors.scss";

div.app {
    header.header {
        padding: 0 1rem;
        height: 5rem;
        width: 1200px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        div.links {
            display: flex;
            align-items: center;
            justify-content: space-between;
            a {
                color: colors.$secondary;
                padding: 1rem;
                border-radius: 1.5rem;
                &:hover {
                    transition: ease-in-out 0.25s background-color;
                    background-color: #111;
                }
            }
            a + a {
                margin-left: 1rem;
            }
            a.active {
                background-color: #111;
            }
        }
    }
}
