@use "./colors.scss";

:root {
    font-size: 16px;
}

/* text */
h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
a,
span {
    font-family: "instrument-sans";
    font-style: normal;
}
h1 {
    font-size: 6rem;
}
h2 {
    font-size: 3.75rem;
}
h3 {
    font-size: 3rem;
}
h4 {
    font-size: 2.125rem;
}
h5 {
    font-size: 1.5rem;
}
h6 {
    font-size: 1.25rem;
}
p.body {
    font-size: 1rem;
}
p.small-body {
    font-size: 0.875rem;
}
p.sub {
    font-size: 1rem;
}
p.small-sub {
    font-size: 0.875rem;
}
button {
    font-weight: bold;
    font-size: 0.875rem;
    text-transform: uppercase;
    cursor: pointer;
}
a {
    text-decoration: none;
}
.text-bold {
    font-weight: bold;
}

/* colors */
.text-primary {
    color: colors.$primary;
}
.text-secondary {
    color: colors.$secondary;
}
.bg-primary {
    background-color: colors.$primary;
}
.bg-secondary {
    background-color: colors.$secondary;
}

/* misc */
*,
*::before,
*::after {
    box-sizing: border-box;
}
